.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 20px;
    height: 80px;
  }
  
  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 24px;
  }
  
  .menu-icon {
    
    cursor: pointer;
    position: relative; 
  }
  
  .hamburger-icon .line {
    width: 30px; 
    height: 3px;
    background-color: black;
    margin: 5px 0;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    top: 35px; 
    left: 0;
  }
  
  .menu-icon:hover .dropdown-menu {
    display: block; /* Show dropdown on hover */
  }
  
  .dropdown-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid #ddd;
  }
  
  .dropdown-menu a:last-child {
    border-bottom: none;
  }
  
  .login-signup {
    
  }
  
  .login-signup-button {
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: blue;
    color: white;
    font-weight: bold;
  }
  
  
  @media (max-width: 768px) {
    .logo {
      position: static;
      transform: none;
    }
  
    .navbar {
      flex-direction: column;
      align-items: center;
    }
  
    .login-signup {
      margin-top: 10px;
    }
  }
  