.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.logo {
  font-weight: 600; 
  font-size: 1.5rem;
  color: #0056b3; 
}

.menu-icon {
  cursor: pointer;
  display: inline-block; 
}

.hamburger-icon .line {
  width: 25px; 
  height: 3px;
  background-color: #333;
  margin: 6px 0;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1); 
  top: 35px;
  right: 0; 
}

.menu-icon:hover .dropdown-menu,
.menu-icon:focus .dropdown-menu {
  display: block; 
}

.dropdown-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid #ddd;
}

.dropdown-menu a:last-child {
  border-bottom: none;
}

.login-signup {
  margin-left: 1rem; /* Add separation from logo */
}



@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    padding: 1rem;
  }

  .menu-icon {
    position: static;
    margin-bottom: 1rem;
  }

  .logo {
    order: -1; /* Logo comes first on mobile */
    margin-bottom: 1rem;
  }

  .login-signup {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
  }
}