.user-dashboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.user-dashboard-profile-image {
  border-radius: 50%;
  width: 15vw;
}

.user-dashboard-stats {
  display: flex;
  justify-content: space-around;
  width: 30vw;
}

.dashboard-header {
  color: #5372ff;
}

.user-dashboad-book-interview-btn {
  background-color: #5372ff;
  color: aliceblue;
  font-size: 14px;
  padding: 20px 24px;
  border-radius: 30px;
}
